@import './tailwind.css';
@import './theme.css';

/* Ensure all interactive elements show a pointer cursor*/
button:not(:disabled),
a,
[role="button"]:not([aria-disabled="true"]),
[onclick],
.cursor-pointer,
select,
summary,
label[for] {
  cursor: pointer;
}

button:disabled,
[aria-disabled="true"],
[disabled] {
  cursor: not-allowed;
}

/* Visible scrollbar  */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--muted-foreground) transparent;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--muted-foreground);
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: padding-box;
  opacity: 0.5;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--foreground);
}